<header>
    <img src="/images/logo.png" alt="Logo">
    <!--<h1>ECE-students</h1>-->
    <div class="search-container">
        <input id="search-input" type="text" placeholder="Αναζήτηση...">
        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
    </div>
    <div class="profile-container">
        <button id="profile-button" onclick=openDropdown()>
            <img src="/images/profile.png" alt="Profile">
        </button>
        <button class="dropdown-content" id="logout-button">Αποσύνδεση</button>
    </div>
</header>

<script>
    let profileDropdown = document.getElementById("logout-button");

    function openDropdown(){
            profileDropdown.classList.add("open-logout");
    }

    logoutButton.addEventListener("click", function() {
        window.location.href = "/login";
    });

    // Close the dropdown if the user clicks outside of it
    window.addEventListener("click", function(event) {
        if (!event.target.matches('#profile-button') && !event.target.matches('#profile-button img')) {
            profileDropdown.classList.remove('open-logout');
        }
    });

</script>