<header>
    <img src="/images/logo.png" alt="Logo">
    <!--<h1>ECE-students</h1>-->
    <div class="search-container">
        <input id="search-input" type="text" placeholder="Αναζήτηση...">
        <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
    </div>
    <div class="profile-container">
        <button id="profile-button" onclick=openDropdown()>
            <img src="/images/profile.png" alt="Profile">
        </button>
        <button id="logout-button" class="dropdown-content">
            <img src="/images/logout.png">Αποσύνδεση</button>
    </div>
</header>

<script>
    let logout = document.getElementById("logout-button");
    function openDropdown(){
            logout.classList.add("open-logout");
            let clicklogout = document.getElementsByClassName("open-logout");
    }

    logout.addEventListener("click", function() {
        window.location.href = "/logout";
    });

    // Close the dropdown if the user clicks outside of it
    window.addEventListener("click", function(event) {
        if (!event.target.matches('#profile-button') && !event.target.matches('#profile-button img')) {
            let dropdowns = document.getElementsByClassName("dropdown-content");
            for (let i = 0; i < dropdowns.length; i++) {
                let openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('open-logout')) {
                    openDropdown.classList.remove('open-logout');
                }
            }
        }
    });

</script>