<nav class="menu-container">
    <ul class="tabs">
        <li><a href="/user_info">Προσωπικά Στοιχεία</a></li>
        <li><a href="/semester">Εγγραφή σε Εξάμηνο</a></li>
        <li><a href="/courses">Δήλωση Μαθημάτων</a></li>
        <li><a href="/student_progress">Ακαδημαϊκή Πρόοδος</a></li>
        <li><a href="/certificates">Αίτηση Πιστοποιητικών</a></li>
    </ul>
</nav>
<script>
    const menuButtons = document.querySelectorAll('.tabs a');

    menuButtons.forEach(button => {
        button.addEventListener('click', function() {
            menuButtons.forEach(btn => btn.classList.remove('clicked'));
            this.classList.add('clicked');
        });
    });
</script>