/* Home Page stuff */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-container {
    flex: 1;
    display: flex;
}

.content-wrapper {
    flex: 1;
    position: relative;
}

.side-image {
    position: relative;
    top: -11.55em;
    left: 0;
    right: 0;
    max-width: calc(100% - 19.58em); 
    width: 100%;
    margin-left: 18.5em;
    border-radius: 0.5em;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 800px) {
    .side-image {
        left: 1em;
        position: relative;
        margin: 0 auto; 
        max-width: calc(100% - 2.2em);
        width: 100%;
        top: -9.2em;
    }
}