/* Home Page stuff */
.content-wrapper {
    min-height: calc(100vh - 4.5em); 
    position: relative; 
}

.side-image {
    width: 70%;
    margin-left: 18.5em;
    margin-top: -15em;
    border-radius: 0.5em;
    height: auto;
}

@media screen and (max-width: 800px) {
    .side-image {
        left: 1em;
        position: relative;
        margin: 0 auto; 
        max-width: calc(100% - 2.2em);
        width: 100%;
        /*top: -9.2em;*/
    }
}
