html {
    font-family: Arial, sans-serif;
}

body {
    background-color: #EBE4E4;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Header - Tabs */
header {
    background-color: #B99E9E;
    color: black;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header img {
    width: 15em;
    height: 6.5em;
    margin-right: 1em;
    margin-left: 0.1em;
    border-radius: 0.5em;
}

.search-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.3em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container input {
    border: none;
    outline: none;
    background: none;
    flex: 1;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.search-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.4em 0.5em;
    display: flex;
    align-items: center;
    color: black;
}

.search-button:hover {
    background-color: #88a2a2;
    border-radius: 0.5em;
}

.breadcrumbs img{
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.breadcrumbs li:first-child img{
    margin: 0em;
}

.breadcrumbs{
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.breadcrumbs ul {
    list-style-type: none;
    padding: 0.5em;
    margin: 0; 
}

.breadcrumbs li{
    display: inline-block;
    margin-right: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.breadcrumbs a{
    background-color: rgb(223, 222, 222);
    color: black;
    font-size: 1em;
    padding: 0.5em 0.8em;
    border-radius: 0.4em;
    margin-right: 1em;
    text-decoration: none;
}

.breadcrumbs .active{
    background-color: rgb(255, 255, 255);
}

.breadcrumbs a:hover {
    background-color: #88a2a2;
    
}

header h1 {
    font-size: 1.2em; 
}

body p {
    font-size: 0.6em; 
}

/* Footer */
footer {
    left: 0;
    width: 100%;
    background-color: #DACECE;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
}

footer div {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
    margin-right: 1em;
}

footer table {
    border-collapse: collapse;
    width: 100%;
    margin-right: 2em;
    font-size: small;
}

footer th, footer td {
    border: 1px solid #DACECE;
    padding: 8px;
    text-align: left;
}

footer th {
    background-color: #DACECE;
}

/* Pages-Menu */

.menu-container {
    padding: 1em;
    max-width: 15em;
    width: 100%;
}

.tabs {
    align-items: top;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs li { 
    background-color: #B99E9E;
    border: none;
    cursor: pointer;
    padding: 0.4em 0.5em;
    display: block;
    border-radius: 0.5em;
    margin-bottom: 0.3em;
    text-align: center;
}

.tabs li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.9em;
}

.tabs li:hover {
    background-color: #88a2a2;
}


@media screen and (max-width: 800px) {
    .breadcrumbs a{
        font-size: 0.9em;
        margin-right: 0em;
    }

    .breadcrumbs li{
        margin-top:0.5em;
        margin-bottom: 0.5em;
    }
    
    .breadcrumbs{
        margin-bottom: 0em;
        margin-top: 1em;
    }

    .menu-container {
        padding-top:0em;
        max-width: 100%;
        width: calc(100% - 3.08em);
    }

    .tabs li a {
        font-size: 0.8em;
    }

    footer{
        flex-direction: column;
    }

    header img{
        width: 11em;
        height: 5em;
    }
}