/* Info Page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-container {
    flex: 1;
    display: flex;
}

.content-wrapper {
    flex: 1;
    position: relative;
}

.table-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    position: relative;
    top: -14.2em;
    max-width: calc(100% - 21.6em); 
    width: 100%;
    margin-left: 18.5em;
    border-radius: 0.5em;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.title-container h2 {
    margin: 0.5em;
    align-items: center;
    font-size: 1em;
    margin-bottom: 1em;
}

.edit-button {
    background-color: #B99E9E;
    color: black;
    border: none;
    cursor: pointer;
    padding: 0.4em 0.5em;
    display: block;
    border-radius: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.edit-button:hover {
    background-color: #88a2a2;
}

.table-container hr {
    border: none;
    border-top: 1px solid #131111;
    margin-bottom: 1em;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.table-container table th, table td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.table-container td:last-child {
    text-align: right;
}

.table-container td:first-child {
    text-align: left;
    font-weight: bold;
}

.table-container .gap {
    margin-bottom: 20px;
}

.popup {
    display: flex;
    align-items: center;
    width: 20em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: #88a2a2;
    border-radius: 0.6em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    color: #020202;
    transition: transform 0.4s, top 0.4s;
    font-size: 1.5em;
    visibility: hidden;
}

img{
    width: 2em;
    height: 2em;
    margin-left: 1em;
    margin-right: 3em;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 800px) {
    .table-container {
        padding: 1em;
        position: relative;
        margin: 0 auto; 
        max-width: calc(100% - 4em);
        width: 100%;
        top: 0em;
    }

    img{
        width: 2em;
        height: 2em;
        margin-left: 0.5em;
        margin-right: 0.2em;
    }

    .popup {
        position: relative;
        margin: auto auto; 
        max-width: calc(100% - 4em);
        width: 100%;
        left: 40%;
        top: -8em;
        padding-right: 0.5em;
    }
}

