<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" >
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/pages_template_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-9k5xTuH4CD6LmuQL9u5pFzwLXAVr+MwPIvSJQkvbAJ8Jc+0baw+IsHjqMimCE4nuq7gmA2ibEyZKPUeUwNN08A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    {{{ body }}}

    <div id="footer">
        {{> footer}}
    </div>

    <script src="/js/pages_template_script.js"></script>
</body>
</html>
