<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Request</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../public/css/pages_template_style.css">
    <link rel="stylesheet" href="../public/css/user_info_style.css">
</head>
<body>
    <div id="header"></div>
    <nav class="breadcrumbs">
        <ul>
            <li><a href="home_page.html"><img src="../public/images/home.png"></a></li>
            <li><a href="certificates.html" class="active">Αίτηση Πιστοποιητικών</a></li>
        </ul>
    </nav>
    <div id="menu"></div>

    <div class="flex-container">
        <div class="content-wrapper">
            <div class="table-container">
                <div class="title-container">
                    <h2>Αίτηση Πιστοποιητικών</h2>
                </div>

                <hr>

                <table class="certificates">
                    <tbody>
                        <tr>
                            <th>Ιστορικό Αιτήσεων:</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td><a href="path_to_download_file" download>Βεβαίωση Φοιτητικής Κατάστασης</a></td>
                            <td>24/4/2024</td>
                            <td>Ολοκληρωμένο</td>
                        </tr>
                        <tr>
                            <td><a href="path_to_download_file" download>Βεβαίωση Ενεργού Φοιτητή</a></td>
                            <td>1/2/2024</td>
                            <td>Ολοκληρωμένο</td>
                        </tr>
                    </tbody>
                </table>

                <hr>
                
                <form id="certificate-form" style="display: none;">
                    <fieldset>
                    <h2>Νέα αίτηση:</h2>
                    <br>
                    <label for="certificate-type">Τύπος Πιστοποιητικού:</label>
                    <select id="certificate-type" name="certificate-type">
                        <option value="Βεβαίωση Ενεργού Φοιτητή">Βεβαίωση Ενεργού Φοιτητή</option>
                        <option value="Βεβαίωση Φοιτητικής Κατάστασης">Βεβαίωση Φοιτητικής Κατάστασης</option>
                        <option value="Βεβαίωση Ειδίκευσης/Κατεύθυνσης">Βεβαίωση Ειδίκευσης/Κατεύθυνσης</option>
                        <option value="Βεβαίωση Πτυχιακής/Διπλωματικής Εργασίας">Βεβαίωση Πτυχιακής/Διπλωματικής Εργασίας</option>
                    </select><br><br>

                    <input type="checkbox" id="detailed" name="detailed">
                    <label for="detailed">Με Αναλυτική:</label><br><br>

                    <div id="detailed-options">
                        <label for="attempt">Προσπάθειες:</label>
                        <select id="attempt" name="attempt" disabled>
                            <option value="Όλες οι προσπάθειες">Ολες οι προσπαθειες</option>
                            <option value="Τελευταία προσπάθεια">Τελευταία προσπάθεια</option>
                            <option value="Επιτυχημένες προσπάθειες">Επιτυχημενες προσπαθειες</option>
                        </select><br><br>
                    </div>

                    </fieldset>
                </form>
                
                <button class="edit-button" onclick="toggleForm()">Νέα αίτηση</button>        
            </div>
        </div>
    </div>
       
    <div class="popup" id="popup">
        <img src="../public/images/file.png">
        <p>Επιτυχής υποβολή αίτησης!</p>
    </div>

    <div id="footer"></div>
        
    <script src="../public/js/include_template.js"></script>
    <footer>
        <script>
            includeHTML('footer.html', 'footer');
        </script>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const table = document.querySelector(".certificates");
            const rows = table.querySelectorAll("tbody tr");
    
            if (rows.length === 1) {
                const noCertificatesRow = document.createElement("tr");
                const cell = document.createElement("td");
                cell.setAttribute("colspan", "3");
                cell.textContent = "Δεν υπάρχει ιστορικό αιτήσεων";
                noCertificatesRow.appendChild(cell);
                table.querySelector("tbody").appendChild(noCertificatesRow);
            }
        });

        function toggleForm() {
            const form = document.getElementById('certificate-form');
            const button = document.querySelector('.edit-button');
            if (form.style.display === 'none') {
                form.style.display = 'block';
                button.textContent = 'Υποβολή';
            } else {
                saveCertificate();
                openPopup();
                form.style.display = 'none';
                button.textContent = 'Νέα αίτηση';
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            const detailedCheckbox = document.getElementById('detailed');
            const detailedOptions = document.getElementById('detailed-options');
            const attemptSelect = document.getElementById('attempt');
        
            detailedCheckbox.addEventListener('change', function() {
                if (detailedCheckbox.checked) {
                    attemptSelect.disabled = false;
                } else {
                    attemptSelect.disabled = true;
                }
            });
        });
        
        function saveCertificate() {
            const certificateType = document.getElementById('certificate-type').value;
            const today = new Date().toLocaleDateString('el-GR');
            const status = 'Σε αναμονή';

            const table = document.querySelector('.certificates tbody');
            const newRow = table.insertRow(-1);
            const typeCell = newRow.insertCell(0);
            const dateCell = newRow.insertCell(1);
            const statusCell = newRow.insertCell(2);

            typeCell.textContent = certificateType;
            dateCell.textContent = today;
            statusCell.textContent = status;
        }

        let popup = document.getElementById("popup");
        function openPopup(){
            popup.classList.add("open-popup");
            setTimeout(function(){
                popup.classList.remove("open-popup");
                }, 3000);
        }

    </script>

</body>
</html>
