<link rel="stylesheet" href="/css/user_info_style.css">
<body>
    {{> header}}
    <nav class="breadcrumbs">
        <ul>
            <li><a href="/home_page"><img src="/images/home.png"></a></li>
            <li><a href="/certificates" class="active">Αίτηση Πιστοποιητικών</a></li>
        </ul>
    </nav>
    {{> menu}}

    <div class="flex-container">
        <div class="content-wrapper">
            <div class="table-container">
                <div class="title-container">
                    <h2>Αίτηση Πιστοποιητικών</h2>
                </div>

                <hr>

                <table class="certificates">
                    <tbody>
                        <tr>
                            <th>Ιστορικό Αιτήσεων:</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td><a href="/generate-pdf/Student Status Certificate" download>Βεβαίωση Φοιτητικής Κατάστασης</a></td>
                            <td>24/4/2024</td>
                            <td>Ολοκληρωμένο</td>
                        </tr>
                        <tr>
                            <td><a href="/generate-pdf/Active Student Certificate" download>Βεβαίωση Ενεργού Φοιτητή</a></td>
                            <td>1/2/2024</td>
                            <td>Ολοκληρωμένο</td>
                        </tr>
                    </tbody>
                </table>

                <hr>
                
                <form id="certificate-form" style="display: none;">
                    <fieldset>
                    <h2>Νέα αίτηση:</h2>
                    <br>
                    <label for="certificate-type">Τύπος Πιστοποιητικού:</label>
                    <select id="certificate-type" name="certificate-type">
                        <option value="Βεβαίωση Ενεργού Φοιτητή">Βεβαίωση Ενεργού Φοιτητή</option>
                        <option value="Βεβαίωση Φοιτητικής Κατάστασης">Βεβαίωση Φοιτητικής Κατάστασης</option>
                        <option value="Βεβαίωση Ειδίκευσης/Κατεύθυνσης">Βεβαίωση Ειδίκευσης/Κατεύθυνσης</option>
                        <option value="Βεβαίωση Πτυχιακής/Διπλωματικής Εργασίας">Βεβαίωση Πτυχιακής/Διπλωματικής Εργασίας</option>
                    </select><br><br>

                    <input type="checkbox" id="detailed" name="detailed">
                    <label for="detailed">Με Αναλυτική:</label><br><br>

                    <div id="detailed-options">
                        <label for="attempt">Προσπάθειες:</label>
                        <select id="attempt" name="attempt" disabled>
                            <option value="Όλες οι προσπάθειες">Ολες οι προσπαθειες</option>
                            <option value="Τελευταία προσπάθεια">Τελευταία προσπάθεια</option>
                            <option value="Επιτυχημένες προσπάθειες">Επιτυχημενες προσπαθειες</option>
                        </select><br><br>
                    </div>

                    </fieldset>
                </form>
                
                <button class="edit-button" onclick="toggleForm()">Νέα αίτηση</button>        
            </div>
        </div>
    </div>
       
    <div class="popup" id="popup">
        <img src="/images/file.png">
        <p>Επιτυχής υποβολή αίτησης!</p>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const table = document.querySelector(".certificates");
            const rows = table.querySelectorAll("tbody tr");
    
            if (rows.length === 1) {
                const noCertificatesRow = document.createElement("tr");
                const cell = document.createElement("td");
                cell.setAttribute("colspan", "3");
                cell.textContent = "Δεν υπάρχει ιστορικό αιτήσεων";
                noCertificatesRow.appendChild(cell);
                table.querySelector("tbody").appendChild(noCertificatesRow);
            }
        });

        function toggleForm() {
            const form = document.getElementById('certificate-form');
            const button = document.querySelector('.edit-button');
            if (form.style.display === 'none') {
                form.style.display = 'block';
                button.textContent = 'Υποβολή';
            } else {
                saveCertificate();
                openPopup();
                form.style.display = 'none';
                button.textContent = 'Νέα αίτηση';
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            const detailedCheckbox = document.getElementById('detailed');
            const detailedOptions = document.getElementById('detailed-options');
            const attemptSelect = document.getElementById('attempt');
        
            detailedCheckbox.addEventListener('change', function() {
                if (detailedCheckbox.checked) {
                    attemptSelect.disabled = false;
                } else {
                    attemptSelect.disabled = true;
                }
            });
        });

        const certificateTranslations = {
            "Βεβαίωση Ενεργού Φοιτητή": "Active Student Certificate",
            "Βεβαίωση Φοιτητικής Κατάστασης": "Student Status Certificate",
            "Βεβαίωση Ειδίκευσης/Κατεύθυνσης": "Qualification-Field Certificate",
            "Βεβαίωση Πτυχιακής/Διπλωματικής Εργασίας": "Thesis Certificate"
        };

        function saveCertificate() {
            const certificateType = document.getElementById('certificate-type').value;
            const translatedType = certificateTranslations[certificateType];
            const today = new Date().toLocaleDateString('el-GR');
            const status = 'Σε αναμονή';

            const table = document.querySelector('.certificates tbody');
            const newRow = table.insertRow(-1);
            const typeCell = newRow.insertCell(0);
            const dateCell = newRow.insertCell(1);
            const statusCell = newRow.insertCell(2);

            const anchor = document.createElement('a');
            anchor.href = `/generate-pdf/${translatedType}`;
            anchor.textContent = certificateType; 
            anchor.title = translatedType; 
            anchor.setAttribute('download', `${translatedType}.pdf`);

            typeCell.appendChild(anchor);

            dateCell.textContent = today;
            statusCell.textContent = status;

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/update-status', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    console.log('Status updated successfully');
                    statusCell.textContent = 'Ολοκληρωμένο'; 
                } else {
                    console.error('Failed to update status');
                }
            };
            xhr.onerror = function() {
                console.error('Failed to update status');
            };
            xhr.send(JSON.stringify({ certificateType: translatedType, status: 'Ολοκληρωμένο' }));
        }




        let popup = document.getElementById("popup");
        function openPopup(){
            popup.classList.add("open-popup");
            setTimeout(function(){
                popup.classList.remove("open-popup");
                }, 3000);
        }

    </script>

</body>
