<link rel="stylesheet" href="/css/user_info_style.css">
<link rel="stylesheet" href="/css/courses_style.css">
<body>
    {{> header}}
    <nav class="breadcrumbs">
        <ul>
            <li><a href="/"><img src="/images/home.png"></a></li>
            <li><a href="/courses" class="active">Δήλωση Μαθημάτων</a></li>
        </ul>
    </nav>
    {{> menu}}

    <div class="flex-container">
        <div class="content-wrapper">
            <div class="table-container">
                <div class="title-container">
                    <h2>Δήλωση Μαθημάτων</h2>
                </div>

                <hr>
                
                <form id="courseForm" method="post" action="/submit_course_declaration">
                    <fieldset>
                        <label for="newDeclaration">Νέα δήλωση μαθημάτων</label>
                        <input type="checkbox" id="newDeclaration" name="newDeclaration" onchange="toggleCourses()">
                    </fieldset>

                    <div id="courseDropdown" style="display: none;">
                        <fieldset>
                            <label for="courses">Επιλέξτε μαθήματα:</label>
                            
                            <div id="courseList">
                                {{#each courses}}
                                    <div class="course-item">
                                        <input type="checkbox" id="course_{{this.id}}" name="courses[]" value="{{this.id}}">
                                        <label for="course_{{this.id}}">{{this.name}}</label>
                                    </div>
                                {{/each}}
                        </fieldset>
                    </div>

                    <button class="submit-button" type="submit">Υποβολή</button>
                </form>
            </div>
        </div>
    </div>

    <div id="footer"></div>

    <script>
        function toggleCourses() {
            const checkbox = document.getElementById("newDeclaration");
            const courseDropdown = document.getElementById("courseDropdown");
            if (checkbox.checked) {
                courseDropdown.style.display = "block";
            } else {
                courseDropdown.style.display = "none";
            }
        }
    </script>
</body>
</html>