<link rel="stylesheet" href="/css/user_info_style.css">

<body>
    {{> header}}
    <nav class="breadcrumbs">
        <ul>
            <li><a href="/"><img src="/images/home.png"></a></li>
            <li><a href="/courses" class="active">Δήλωση Μαθημάτων</a></li>
        </ul>
    </nav>
    {{> menu}}

    <div class="flex-container">
        <div class="content-wrapper">
            <div class="table-container">
                <div class="title-container">
                    <h2>Δήλωση Μαθημάτων</h2>
                </div>
                <hr>
                <table class="courses">
                    <tbody>
                        <tr>
                            <td>Ημερομηνία τελευταίας δήλωσης:</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <hr>
                <hr>
            </div>
        </div>
    </div>
        
</body>
