<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../public/css/pages_template_style.css">
    <link rel="stylesheet" href="../public/css/edit_user_info_style.css">
    <link rel="stylesheet" href="../public/css/user_info_style.css">
</head>
<body>
    <div id="header"></div>
    <nav class="breadcrumbs">
        <ul>
            <li><a href="home_page.html"><img src="../public/images/home.png"></a></li>
            <li><a href="user_info.html">Προσωπικά στοιχεία</a></li>
            <li><a href="edit_user_info.html" class="active">Επεξεργασία</a></li>
        </ul>
    </nav>
    <div id="menu"></div>

    <div class="flex-container">
        <div class="content-wrapper">
            <div class="form-container">
                <div class="title-container">
                    <h2>Στοιχεία Φοιτητή - Επεξεργασία</h2>
                    <input class="save-button" type="submit" value="Αποθήκευση" onclick="openPopup()">
                </div>
                
                <form method="get">
                    <div class="gap"></div>
                    <fieldset>
                        <label for="street">ΟΔΟΣ:</label>
                        <input type="text" id="street" name="street" placeholder="ΟΔΟΣ"><br>
                        <hr>
                        <label for="number">ΑΡΙΘΜΟΣ:</label>
                        <input type="text" id="number" name="number" placeholder="00"><br>
                        <hr>
                        <label for="postcode">ΤΑΧΥΔΡΟΜΙΚΟΣ ΚΩΔΙΚΑΣ:</label>
                        <input type="text" id="postcode" name="postcode" placeholder="00000"><br>
                        <hr>
                        <label for="city">ΠΟΛΗ:</label>
                        <input type="text" id="city" name="city" placeholder="ΠΑΤΡΑ"><br>
                        <hr>
                        <label for="area">ΝΟΜΟΣ:</label>
                        <input type="text" id="area" name="area" placeholder="ΑΧΑΪΑΣ"><br>
                        <hr>
                    </fieldset>
                        
                    <div class="gap"></div>

                    <fieldset>
                        <label for="phone">ΤΗΛΕΦΩΝΟ:</label>
                        <input type="text" id="phone" name="phone" placeholder="0000000000"><br>
                        <hr>
                        <label for="email">EMAIL:</label>
                        <input type="text" id="email" name="email" placeholder="abcd@gmail.com"><br>
                        <hr>  
                    </fieldset>    
                </form>
            </div>
        </div>
    </div>
                
    <div class="popup" id="popup">
        <img src="../public/images/file.png">
        <p>Επιτυχής επεξεργασία στοιχείων!</p>
    </div>

    <div id="footer"></div>
        
    <script src="../public/js/include_template.js"></script>
    <footer>
        <script>
            includeHTML('footer.html', 'footer');
        </script>
    </footer>

    <script>
        let popup = document.getElementById("popup");
        function openPopup(){
            popup.classList.add("open-popup");
            setTimeout(function(){
                popup.classList.remove("open-popup");
                }, 3000);
        }
    </script>
</body>
</html>
