<!--<link rel="stylesheet" href="/css/home_page_style.css">-->
<link rel="stylesheet" href="/css/user_info_style.css">

{{> header}}

<nav class="breadcrumbs">
    <ul>
        <li><a href="/" class="active"><img src="/images/home.png"></a></li>
    </ul>
</nav>

{{> menu}}

<div class="flex-container">
    <div class="content-wrapper">
        <!--<img id="side-image" src="/images/patron.jpg" alt="Image" class="side-image">-->
        <div class="table-container">
            <div class="title-container">
                <h2>Ανακοινώσεις Τμήματος</h2>
            </div>

            <div class="announcements-container">
                <div class="announcement-carousel">
                    <div class="announcement">
                        <img src="/images/announcement_1.jpg" alt="Announcement 1" class="announcement-image">
                        <div class="announcement-text">
                            <h3>12η Ποδηλατική Βόλτα Πανεπιστημίου Πατρών με αναμνηστικά δώρα και εκπλήξεις!</h3>
                            <p>12η Ποδηλατική Βόλτα Πανεπιστημίου Πατρών «Πάμε με Ποδήλατο» Κυριακή 19 Μαΐου 2024, ώρα 12:00 το μεσημέρι (εκκίνηση από την Πρυτανεία) Θα μοιραστούν αναμνηστικά μπλουζάκια και ...</p>
                        </div>
                    </div>
                    <div class="announcement">
                        <img src="/images/announcement_2.jpg" alt="Announcement 2" class="announcement-image">
                        <div class="announcement-text">
                            <h3>ΜΕΤ: Εκδηλώσεις για τον Εορτασμό της Ημέρας των Μουσείων 2024</h3>
                            <p>Μάϊος, μήνας των Μουσείων. Τα Μουσεία γιορτάζουν!!! Δείτε τις Εκδηλώσεις Μουσείου Επιστημών και Τεχνολογίας Πανεπιστημίου Πατρών Στο πλαίσιο της ...</p>
                        </div>
                    </div>
                    <div class="announcement">
                        <img src="/images/announcement_3.jpg" alt="Announcement 3" class="announcement-image">
                        <div class="announcement-text">
                            <h3>Διεθνές Συνέδριο «Το αρχαίο δράμα στην εκπαίδευση. Aπό την αρχαιότητα έως σήμερα» Πάτρα, 24–25 Μαΐου 2024</h3>
                            <p>Το «Ινστιτούτο Αρχαίου Θεάτρου» του Πανεπιστημίου Πατρών σε συνεργασία με το Πρόγραμμα Μεταπτυχιακών Σπουδών για το ...</p>
                        </div>
                    </div>
                    <div class="announcement">
                        <img src="/images/announcement_4.jpg" alt="Announcement 4" class="announcement-image">
                        <div class="announcement-text">
                            <h3>Συμμετοχή του Πανεπιστημίου Πατρών στο Frontiers Planet Prize για το έτος 2024</h3>
                            <p>Το Πανεπιστήμιο Πατρών συμμετέχει στο Frontiers Planet Prize για το έτος 2024. Το ίδρυμά μας έχει ...</p>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="title-container">
                <h2>Άλλες ηλεκτρονικές υπηρεσίες</h2>
            </div>

            <div class="button-container">
                <a href="https://eudoxus.gr" target="_blank">
                    <img src="/images/eudoxus.png" alt="eudoxus">
                </a>
                <a href="https://eclass.upatras.gr/main/portfolio.php" target="_blank">
                    <img src="/images/eclass.png" alt="eclass">
                </a>
                <a href="https://submit-academicid.minedu.gov.gr" target="_blank">
                    <img src="/images/academicID.png" alt="academicID">
                </a>
                <a href="https://webmail.ac.upatras.gr" target="_blank">
                    <img src="/images/upmail.png" alt="upmail">
                </a>
                <a href="https://upatras-gr.zoom.us" target="_blank">
                    <img src="/images/zoom.jpg" alt="Zoom">
                </a>
                <a href="https://www.upnet.gr/services/wifi/" target="_blank">
                    <img src="/images/eduroam.png" alt="eduroamWIFI">
                </a>
            </div>
        </div>
    </div>
</div>
