<link rel="stylesheet" href="/css/home_page_style.css">

{{> header}}

<nav class="breadcrumbs">
    <ul>
        <li><a href="/" class="active"><img src="/images/home.png"></a></li>
    </ul>
</nav>

{{> menu}}

<div class="flex-container">
    <div class="content-wrapper">
        <img id="side-image" src="/images/patron.jpg" alt="Image" class="side-image">
    </div>
</div>

<script src="/js/pages_template_script.js"></script>
<script src="/js/fetch_home_page.js"></script>
