<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../public/css/pages_template_style.css">
    <link rel="stylesheet" href="../public/css/home_page_style.css">
</head>
<body>
    <div id="header"></div>
    <nav class="breadcrumbs">
        <ul>
            <li><a href="home_page.html" class="active"><img src="../public/images/home.png"></a></li>
        </ul>
    </nav>
    <div id="menu"></div>

    <div class="flex-container">
        <div class="content-wrapper">
            <img id="side-image" src="../public/images/patron.jpg" alt="Image" class="side-image">
        </div>
    </div>
    
    <div id="footer"></div>
    
    <script src="../public/js/include_template.js"></script>
    <footer>
        <script>
            includeHTML('footer.html', 'footer');
        </script>
    </footer>

    <script src="../public/js/pages_template_script.js"></script>
</body>
</html>
