<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ECE-students Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="header">
        <img src="/images/logo.png" alt="Logo" class="logo">
    </div>
    
    <div class="login-container">
      <form id="login-form" action="/Login" method="post">
        <h1 class="bold-text">Είσοδος Χρήστη</h1>
        <input class="italic-text" type="text" id="username" placeholder="Όνομα χρήστη" required>
        <input class="italic-text" type="password" id="password" placeholder="Κωδικός χρήστη" required>
        <button id="login" type="submit">Σύνδεση</button>
        <button id="forgot-password" type="button">Ξέχασες τον κωδικό σου;</button>
      </form>
    </div>

    <div class="footer">
      <h2></h2>
    </div>

    <div id="forgot-password-popup" class="popup">
      <div class="popup-content">
        <span class="close" id="close-forgot-password-popup">&times;</span>
        <h2>Ξέχασες τον κωδικό σου;</h2>
        <p>Συμπλήρωσε το email σου, για να λάβεις ένα link ανάκτησης.</p>
        <form id="forgot-password-form">
          <input type="email" id="email" name="email" placeholder="Email" required>
          <button type="submit">Αποστολή κωδικού</button>
        </form>
      </div>
    </div>

    <script src="/js/script.js"></script>
</body>

</html>
