<link rel="stylesheet" href="/css/user_info_style.css">
<body>
    {{> header}}
    <nav class="breadcrumbs">
        <ul>
            <li><a href="/"><img src="/images/home.png"></a></li>
            <li><a href="/semester" class="active">Εγγραφή σε εξάμηνο</a></li>
        </ul>
    </nav>
    {{> menu}}

    <div class="flex-container">
        <div class="content-wrapper">
            <div class="table-container">
                <div class="title-container">
                    <h2>Εγγραφή σε εξάμηνο</h2>
                </div>
                <hr>
            
                <table>
                    <tbody>
                        <h3 class="semester-ac">Τελευταία Αίτηση</h3>
                        <tr>
                            <td>Ακαδημαϊκό έτος</td>
                            <td id="academic_year"></td>
                        </tr>
                        <tr>
                            <td>Περίοδος εξαμήνου</td>
                            <td id="semester"></td>
                        </tr>
                        <tr>
                            <td>Ημερομηνία τελευταίας εγγραφής</td>
                            <td id="current_date"></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                
                <form action="/update_semester" method="post">
                    <button id="updateSemesterBtn" class="edit-button" type="submit" >Αίτηση επανεγγραφής σε εξάμηνο</button>
                </form>    
            </div>
        </div>
    </div>

    <div class="popup" id="popup">
        <img src="/images/file.png">
        <p>Επιτυχής επανεγγραφή σε εξάμηνο!</p>
    </div>


    <script>
        document.getElementById('current_date').textContent = new Date().toLocaleDateString('el-GR');

        let semesterDateStr = '{{ semesterDate }}';
        let semesterDateParts = semesterDateStr.split('-');
        let year = parseInt(semesterDateParts[2]);
        let month = parseInt(semesterDateParts[1]) - 1; 
        let day = parseInt(semesterDateParts[0]);
        
        let semesterDate = new Date(year, month, day);
        let currentYear = semesterDate.getFullYear();
        let currentMonth = semesterDate.getMonth() + 1;
        let academicYear = currentYear;
        let semester = currentMonth >= 1 && currentMonth <= 5 ? "Εαρινό" : "Χειμερινό";

        if (currentMonth < 9) {
            academicYear = currentYear - 1;
        }

        document.getElementById('academic_year').textContent = `${academicYear}-${academicYear + 1}`;
        document.getElementById('semester').textContent = semester;
        document.getElementById('current_date').textContent = semesterDate.toLocaleDateString('el-GR');

        let popup = document.getElementById("popup");
        function openPopup(){
            popup.classList.add("open-popup");
            setTimeout(function(){
                popup.classList.remove("open-popup");
                }, 3000);
        }

              
    </script>
</body>
