<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Progress</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../public/css/pages_template_style.css">
    <link rel="stylesheet" href="../public/css/user_info_style.css">
</head>
<body>
    <div id="header"></div>
    <nav class="breadcrumbs">
        <ul>
            <li><a href="home_page.html"><img src="../public/images/home.png"></a></li>
            <li><a href="student_progress.html" class="active">Ακαδημαική Πρόοδος</a></li>
        </ul>
    </nav>
    <div id="menu"></div>

    <div class="flex-container">
        <div class="content-wrapper">
            <div class="table-container">
                <div class="title-container">
                    <h2>Ακαδημαϊκή Πρόοδος</h2>
                </div>

                <hr>
                
                <table class="progress">
                    <tbody>
                        <tr>
                            <th>ΕΞ.</th>
                            <th>ΚΩΔ.</th>
                            <th>ΤΙΤΛΟΣ</th>
                            <th>ΒΑΘΜΟΣ</th>
                            <th>ΕΤΟΣ</th>
                            <th class="semester">ΑΚ. ΕΞΑΜΗΝΟ</th>
                            <th class="status">ΚΑΤΑΣΤΑΣΗ</th>
                            <th>ΒΑΡ.</th>
                            <th>ECTS</th>
                            <th>Δ.Μ.</th>
                        </tr>
                        <tr>
                            <td class="module">1</td>
                            <td class="sub_id">Y101</td>
                            <td class="subject">ΛΟΓΙΣΜΟΣ ΣΥΝΑΡΤΗΣΕΩΝ ΜΙΑΣ ΜΕΤΑΒΛΗΤΗΣ</td>
                            <td class="grade">6.0</td>
                            <td class="year">2023-24</td>
                            <td class="semester">ΧΕΙΜΕΡΙΝΟ</td>
                            <td class="status">ΕΠΙΤΥΧΙΑ</td>
                            <td class="weight">2.0</td>
                            <td class="ects">6.0</td>
                            <td class="credits">6.0</td>
                        </tr>
                        <tr>
                            <td class="module">1</td>
                            <td class="sub_id">Y104</td>
                            <td class="subject">ΓΡΑΜΜΙΚΗ ΑΛΓΕΒΡΑ</td>
                            <td class="grade">8.5</td>
                            <td class="year">2023-24</td>
                            <td class="semester">ΧΕΙΜΕΡΙΝΟ</td>
                            <td class="status">ΕΠΙΤΥΧΙΑ</td>
                            <td class="weight">1.5</td>
                            <td class="ects">3.0</td>
                            <td class="credits">3.0</td>
                        </tr>
                        <tr>
                            <td class="module">1</td>
                            <td class="sub_id">Υ106</td>
                            <td class="subject">ΕΙΣΑΓΩΓΗ ΣΤΟΥΣ ΥΠΟΛΟΓΙΣΤΕΣ</td>
                            <td class="grade">9.5</td>
                            <td class="year">2023-24</td>
                            <td class="semester">ΧΕΙΜΕΡΙΝΟ</td>
                            <td class="status">ΕΠΙΤΥΧΙΑ</td>
                            <td class="weight">2.0</td>
                            <td class="ects">6.0</td>
                            <td class="credits">6.0</td>
                        </tr>
                        <tr>
                            <td class="module">1</td>
                            <td class="sub_id">Υ107</td>
                            <td class="subject">ΣΥΓΧΡΟΝΗ ΦΥΣΙΚΗ</td>
                            <td class="grade">9.0</td>
                            <td class="year">2023-24</td>
                            <td class="semester">ΧΕΙΜΕΡΙΝΟ</td>
                            <td class="status">ΕΠΙΤΥΧΙΑ</td>
                            <td class="weight">1.5</td>
                            <td class="ects">4.0</td>
                            <td class="credits">4.0</td>
                        </tr>
                        <tr>
                            <td class="module">1</td>
                            <td class="sub_id">Υ108</td>
                            <td class="subject">ΕΦΑΡΜΟΣΜΕΝΗ ΦΥΣΙΚΗ</td>
                            <td class="grade">3.5</td>
                            <td class="year">2023-24</td>
                            <td class="semester">ΧΕΙΜΕΡΙΝΟ</td>
                            <td class="status">ΑΝΕΠΙΤΥΧΙΑ</td>
                            <td class="weight">1.5</td>
                            <td class="ects">4.0</td>
                            <td class="credits">4.0</td>
                        </tr>
                        <tr>
                            <td class="module">1</td>
                            <td class="sub_id">Υ109</td>
                            <td class="subject">ΨΗΦΙΑΚΗ ΛΟΓΙΚΗ</td>
                            <td class="grade">7.5</td>
                            <td class="year">2023-24</td>
                            <td class="semester">ΧΕΙΜΕΡΙΝΟ</td>
                            <td class="status">ΕΠΙΤΥΧΙΑ</td>
                            <td class="weight">1.5</td>
                            <td class="ects">4.0</td>
                            <td class="credits">4.0</td>
                        </tr>
                    </tbody>
                </table>

                <hr>

                <div class="gap"></div>

                <table class="progress">
                    <tr class="average">
                        <th>ΜΕΣΟΣ ΟΡΟΣ</th>
                        <td class="average_value">--</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
          
    <div id="footer"></div>
        
    <script src="../public/js/include_template.js"></script>
    <footer>
        <script>
            includeHTML('footer.html', 'footer');
        </script>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const grades = document.querySelectorAll(".grade");
            grades.forEach(grade => {
                if(parseFloat(grade.textContent) < 5) {
                    grade.parentElement.classList.add("fail");
                }
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            const rows = document.querySelectorAll(".progress tbody tr");
            let totalWeightedGrades = 0;
            let totalWeight = 0;
    
            for (let i = 1; i < rows.length; i++) {
                const row = rows[i];
                if (!row.classList.contains("fail")) {
                    const gradeElement = row.querySelector(".grade");
                    if (gradeElement) {
                        const grade = parseFloat(gradeElement.textContent);
                        const weight = parseFloat(row.querySelector(".weight").textContent);
                        totalWeightedGrades += grade * weight;
                        totalWeight += weight;
                    }
                }
            }
    
            const averageGrade = totalWeightedGrades / totalWeight;
            const averageCell = document.querySelector(".average_value");
            averageCell.textContent = averageGrade.toFixed(2); 
        });
    </script>

</body>
</html>
