/* Info Page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-container {
    flex: 1;
    display: flex;
}

.content-wrapper {
    flex: 1;
    position: relative;
}

.form-container {
    flex: 1; 
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    position: relative;
    top: -14.2em;
    max-width: calc(100% - 21.6em); 
    width: 100%;
    margin-left: 18.5em;
    border-radius: 0.5em;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.title-container h2 {
    margin: 0.5em;
    align-items: center;
    font-size: 1em;
    margin-bottom: 1em;
}

.save-button {
    background-color: #B99E9E;
    border: none;
    cursor: pointer;
    padding: 0.4em 0.5em;
    display: block;
    border-radius: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.save-button i {
    color: black;
}

.save-button:hover {
    background-color: #88a2a2;
}

.form-container hr {
    border: none;
    border-top: 0.11em solid #bab8b8;
    margin-top: 1em;
}

.form-container form {
    width: 100%;
    font-size: 0.8em;
}

.form-container .gap {
    margin-bottom: 20px;
}

.form-container fieldset {
    border: none;
}

.form-container label {
    float: inline-start;
    width: 40%;
    margin-right: 1em;
    font-weight: bold;
    vertical-align: bottom;
}

.form-container input[type="text"] {
    width: calc(49%); 
    float: inline-end;
    border-radius: 0.5em;
    vertical-align: middle;
    text-align: right;
}


@media screen and (max-width: 800px) {
    .form-container {
        padding: 1em;
        position: relative;
        margin: 0 auto; 
        max-width: calc(100% - 4em);
        width: 100%;
        top: 0em;
    }
}


