html {
    font-family: Arial, sans-serif;
}

body {
    background-color: #EBE4E4;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Header - Tabs */
header {
    background-color: #B99E9E;
    /*background-color: #805c5c;*/
    color: black;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header img {
    width: 15em;
    height: 6.5em;
    margin-right: 1em;
    margin-left: 0.1em;
    border-radius: 0.5em;
}

.search-container {
    margin-left: auto;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.3em;
    margin-right: 5em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.search-container input {
    border: none;
    outline: none;
    background: none;
    flex: 1;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.search-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.4em 0.5em;
    display: flex;
    align-items: center;
    color: black;
}

.search-button:hover {
    background-color: #88a2a2;
    border-radius: 0.5em;
    transform: scale(0.99); 
}

.breadcrumbs img{
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.breadcrumbs li:first-child img{
    margin: 0em;
}

.breadcrumbs{
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    margin: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.breadcrumbs ul {
    list-style-type: none;
    padding: 0.5em;
    margin: 0; 
}

.breadcrumbs li{
    display: inline-block;
    margin-right: 0em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    transition: margin-left 0.3s ease;
}

.breadcrumbs a{
    background-color: rgb(223, 222, 222);
    color: black;
    font-size: 1em;
    padding: 0.5em 0.8em;
    border-radius: 0.4em;
    margin-right: 1em;
    text-decoration: none;
}

.breadcrumbs .active{
    background-color: rgb(255, 255, 255);
}

.breadcrumbs a:hover {
    background-color: #88a2a2;
    
}

.breadcrumbs li:hover {
    margin-left: 0.5em;
}

header h1 {
    font-size: 1.2em; 
}

body p {
    font-size: 0.6em; 
}

/* Footer */
footer {
    left: 0;
    width: 100%;
    background-color: #DACECE;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
}

footer div {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
}

footer a {
    color: black;
    text-decoration: none;
    margin-right: 1em;
}

footer table {
    border-collapse: collapse;
    width: 100%;
    margin-right: 2em;
    font-size: small;
}

footer th, footer td {
    border: 1px solid #DACECE;
    padding: 8px;
    text-align: left;
}

footer th {
    background-color: #DACECE;
}

/* Pages-Menu */

.menu-container {
    padding: 1em;
    max-width: 15em;
    width: 100%;
}

.tabs {
    align-items: top;
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 100%;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs li { 
    background-color: #B99E9E;
    border: none;
    cursor: pointer;
    padding: 0.4em;
    display: block;
    border-radius: 0.5em;
    margin-bottom: 0.3em;
    text-align: center;
}

.tabs li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.9em;
}

.tabs a.clicked {
    font-size: 0.85em;
}

.tabs li:hover {
    background-color: #88a2a2;
    transform: scale(0.99); 
}

/* Profile container */
#profile-button img{
    width: 2.5em;
    height: 2.5em;
}

#profile-button {
    position: absolute;
    top: 1em; 
    right: 1em;
    width: 4em;
    height: 4em;
    border-radius: 1em;
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

/* Logout button styling */
.dropdown-content img{
    width: 1.5em;
    height: 1.5em;
    padding-top: 0.7em;
    padding-left: 0.5em;
}

.dropdown-content {
    position: absolute;
    top: calc(8% + 0.5em);
    right: 0;
    line-height:3em;
    background-color: #759696;
    color: rgb(0, 0, 0);
    border: none;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1em;
    padding-right: 1.5em;
    border-radius: 0.6em;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.open-logout{
    visibility: visible;
    opacity: 1;
}

.dropdown-content:hover {
    background-color: #902323;
}

@media screen and (max-width: 800px) {
    header img{
        width: 11em;
        height: 5em;
        margin-bottom: 1em;
    }
    
    .search-container {
        position:relative;
        top: 0.5em; 
        right: 1em;
    }

    footer{
        flex-direction: column;
        padding-left: 1.0em;
    }

    .breadcrumbs a{
        font-size: 0.9em;
        margin-right: 0em;
    }

    .breadcrumbs li{
        margin-top:0.5em;
        margin-bottom: 0.5em;
    }
    
    .breadcrumbs{
        margin-bottom: 0em;
        margin-top: 1em;
    }

    .menu-container {
        padding-top:0em;
        max-width: 100%;
        width: calc(100% - 3.08em);
    }

    .tabs li a {
        font-size: 0.8em;
    }

    .tabs a.clicked {
        font-size: 0.75em;
    }

    .dropdown-content {
        margin: 0em;
    }

    
}