body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #997777;
  }
  
  .bold-text {
	font-weight: bold;
  }
  
  .italic-text {
	font-style: italic;
  }
  
  .header {
	background-color: #fff;
	padding: 1em;
	text-align: left;
  	display: flex;
  	align-items: center;
  }
  
  .logo {
	width: 15em;
	height: 7em;
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left:1em;
  }
  
  .login-container {
	max-width: 18em;
	margin: 2em auto;
	padding: 1em;
	background-color: #B99E9E;
	border-radius: 1em;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
	text-align: center;
	box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.1);
  }
  
  .login-container h1{
	margin-top: 0em;
	font-size: 1.5em;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
	width: 85%;
	margin-bottom: 1.5em;
	padding: 1em;
	border: 0.2em solid #a79292;
	border-radius: 0.5em;
	box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.1);
  }
  
  .login-container button {
	width: 100%;
	padding: 1em;
	margin-bottom: 0.5em;
	background-color: #000000;
	color: #fff;
	border: none;
	border-radius: 0.5em;
	cursor: pointer;
  }
  
  .login-container button:hover {
	background-color: #5b7575;
  }

  .login-container #forgot{
	background-color: #877373;
	padding: 0.5em;
  }

  .login-container #forgot:hover {
	background-color: #88a2a2;
  }

  .footer {
	background-color: #fff;
	padding: 7em;
	text-align: center;
  }

  /* Media query for smaller screens */
@media screen and (max-width: 50em) {
	.header {
	  padding: 0;
	}
  
	.logo {
		width: 9em;
		height: 4em;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left:1em;
	  }
  
	.login-container {
		width: 80%;
	  }

  }
  