/* Info Page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-container {
    flex: 1;
    display: flex;
}

.content-wrapper {
    flex: 1;
    position: relative;
}

.table-container {
    flex: 1; 
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    position: relative;
    top: -14.2em;
    max-width: calc(100% - 21.6em); 
    width: 100%;
    margin-left: 18.5em;
    border-radius: 0.5em;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.title-container h2 {
    margin: 0.5em;
    align-items: center;
    font-size: 1em;
    margin-bottom: 1em;
}

.edit-button {
    background-color: #B99E9E;
    color: black;
    border: none;
    cursor: pointer;
    padding: 0.4em 0.5em;
    display: block;
    border-radius: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

.edit-button:hover {
    background-color: #88a2a2;
}

.table-container hr {
    border: none;
    border-top: 1px solid #131111;
    margin-bottom: 1em;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.table-container table th, table td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.table-container td:last-child {
    text-align: right;
}

.table-container td:first-child {
    text-align: left;
    font-weight: bold;
}

.table-container .gap {
    margin-bottom: 20px;
}

.popup {
    display: flex;
    align-items: center;
    width: 20em;
    padding-top: 1em;
    padding-bottom: 1em;
    background: #88a2a2;
    border-radius: 0.6em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    color: #020202;
    transition: transform 0.4s, top 0.4s;
    font-size: 1.5em;
    visibility: hidden;
}

img{
    width: 2em;
    height: 2em;
    margin-left: 1em;
    margin-right: 3em;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: 800px) {
    .table-container {
        padding: 1em;
        position: relative;
        margin: 0 auto; 
        max-width: calc(100% - 4em);
        width: 100%;
        top: 0em;
    }

    img{
        width: 2em;
        height: 2em;
        margin-left: 0.5em;
        margin-right: 0.2em;
    }

    .popup {
        position: relative;
        margin: auto auto; 
        max-width: calc(100% - 4em);
        width: 100%;
        left: 40%;
        top: -8em;
        padding-right: 0.5em;
    }
}

/* Academic Progress Page */
.progress .fail {
    color: red;
}

.progress th {
    color: gray;
}

.progress td {
    text-align: center;
}

.progress td:last-child, .progress td:first-child {
    text-align: center;
    font-weight: normal;
}

.progress .module {
    width: 1em;
}

.progress .sub_id {
    width: 2em;
}

.progress .grade {
    width: 4em;
}

.progress .year {
    width: 4em;
}

.progress .weight {
    width: 2em;
}

.progress .ects {
    width: 2em;
}

.progress .credits {
    width: 2em;
}

.progress .subject {
    max-width: calc(100vw - 100em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.progress .semester {
    max-width: calc(100vw - 100em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.progress .status {
    max-width: calc(100vw - 100em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.progress .average th {
    text-align: left;
}

.progress .average td {
    text-align: right;
}




/* Certificates page */
.certificates th {
    text-align: left;
    font-size: 1.2em;
}

.certificates td:first-child {
    text-align: left;
    font-weight: normal;
}

.certificates td {
    text-align: right;
}

.certificates a {
    color: #806e6e;
}

.certificates a:hover {
    color: #88a2a2;
}

#certificate-form h2 {
    font-size: 1em;
}

#certificate-form fieldset{
    margin-bottom: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(128, 110, 110, 0.2);
    border: white;
}

#certificate-form fieldset label {
    font-size: small;
    float: inline-start;
    width: 13em;
    margin-right: 2em;
    vertical-align: bottom;
}

#certificate-form fieldset select {
    border-radius: 0.4em;
    vertical-align: middle;
    text-align: left;
    width: calc(100% - 15em);
}


/*     */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    max-width: calc(100% - 2em);
    width: 100%;
}

.button-container a {
    max-width: 12%;
    width: 100%;
    transition: transform 0.3s ease;
}

.button-container a:hover {
    transform: scale(0.95); 
}

.button-container img {
    width: 100%;
    height: 83%;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
}


/* Announcement Carousel */
.announcements-container {
    overflow: auto;
    position: relative;
    width: 100%;
    border-radius: 0.5em;
    margin-bottom: 2em;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
    scrollbar-width: thin; 
    scrollbar-color: #888888 #f0f0f0; 
}

.announcement-container::-webkit-scrollbar {
    width: 1em;
}

.announcement-container::-webkit-scrollbar-thumb {
    background-color: #888888; /* Color of the scrollbar thumb */
}

.announcement-container::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color of the scrollbar track */
}

.announcement-carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.announcement {
    flex: 0 0 auto;
    margin-right: 1em;
    background-color: white;
    width: 40%;
}

/* Image on the left, text on the right */
.announcement .announcement-image {
    float: left;
    margin-right: 1em; 
    height: 10em;
    width: auto;
    margin-left: 2em;
    border-radius: 0.5em;
}

.announcement .announcement-text {
    flex: 1 1 auto;
    white-space: normal; 
    padding-ri: 2em;
}

/* Previous and Next buttons styling */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    font-size: 24px;
    color: #333;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
